@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');
div{
  overflow: hidden;
  border: 2px solid black;
  box-sizing: border-box;
}
.header{
  background-image: url(../assets/pexels-moacir-eduardo-de-oliveira-1069450.jpg);
  height: 200px;
  text-align: center;
  padding-top: 50px;
  color: white;
  font-family: 'Hachi Maru Pop', cursive;
}
.menu a{
  margin-left: 200px;
  margin-top: 20px;
  float: left;
  display: block;
  padding: 20px;
  text-decoration: none;
  color: black;
  font-family: 'Hachi Maru Pop', cursive;
}
.menu a:hover{
  background-color: rgb(190, 110, 18);
  color: black;
}
/* clear float after the menu */
div::after{
  content: "";
  display: table;
  clear: both;
}
img #slider-img{
  width: 100%;
}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
/* Hide the images by default */
/* .mySlides {
  display: none;
} */
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: 22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}