@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');
div{
  overflow: hidden;
}
.header{
  background-image: url(../assets/pexels-moacir-eduardo-de-oliveira-1069450.jpg);
  height: 200px;
  text-align: center;
  padding-top: 50px;
  color: white;
  font-family: 'Hachi Maru Pop', cursive;
}
.menu a{
  margin-left: 200px;
  margin-top: 20px;
  float: left;
  display: block;
  padding: 20px;
  text-decoration: none;
  color: black;
  font-family: 'Hachi Maru Pop', cursive;
}
.menu a:hover{
  background-color: rgb(190, 110, 18);
  color: black;
}
/* clear float after the menu */
div::after{
  content: "";
  display: table;
  clear: both;
}
