@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');
div{
  overflow: hidden;
  box-sizing: border-box;
}
.header{
  background-image: url(../assets/extra-cheese.jpg);
  height: 200px;
  text-align: center;
  padding-top: 50px;
  color: white;
  font-family: 'Hachi Maru Pop', cursive;
}
.menu a{
  margin-left: 200px;
  margin-top: 20px;
  float: left;
  display: block;
  padding: 20px;
  text-decoration: none;
  color: black;
  font-family: 'Hachi Maru Pop', cursive;
}
.menu a:hover{
  background-color: rgb(190, 110, 18);
  color: black;
}
/* clear float after the menu */
/* div::after{
  content: "";
  display: table;
  clear: both;
} */
.section-heading h2{
  color: black;
  padding: 40px;
  padding-bottom: 20px;
  font-family: 'Hachi Maru Pop', cursive;
  font-weight: bolder;
}
.order-here{
  background-image: url(../assets/pizza-form-bg.jpeg);
}
.col-md-4{
  border-radius: 10%;
  padding: 10px;
}
.col-md-6{
  border: 2px solid black;
  height: 60px;
}
#toppings-price{
  padding: 5px;
  background-color: rgb(190, 110, 18);
  border: 1px solid black;
  color: black;
}
#proceed-btn{
  margin-top: 20px;
  margin-left: 15px;
  background-color: rgb(190, 110, 18);
}
#proceed-btn:hover{
  transform: scale(1.5);
  /* padding-left: 10px; */
}
#col-form{
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.692);
  color: rgb(148, 146, 146);
}
#cart{
  background-color: white;
  margin: 70px;
  border-radius: 20px;
}
#cart-heading{
  background-color: rgb(190, 110, 18);
  padding: 20px;
}
#total-cost{
  float: right;
}
#total-cost{
  display: none;
}